.card-container {
  text-align: center;
  width: 900px;
  height: auto;
  margin: auto;
  color: #3D3D3D;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.card {
  width: 200px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  padding: 20px;
  border: 1px solid rgb(0, 0, 0, 0.1);
}

.card img {
  height: 100px;
}
